{% extends 'base.html' %}
{% load restructuredtext_filter %}

{% block head %}
<title>StackSmash - {{post.title}}</title>
<link type="text/css" href="/static/post.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="sidebar">
		{% if request.user.is_staff %}
			<p>Staff Options</p>
			<hr />
			<a href="/admin/blog/post/add/">New Post</a><br />
			<a href="/upload/">Upload a file</a>
		{% endif %}
		<p>Archives</p>
		<hr />
		{% for month in months %}
			{% ifchanged month.0 %} {{ month.0 }} <br /> {% endifchanged %}
			<a href="{% url 'archive' month.0 month.1 %}" id="month">{{ month.2 }}</a><br />
		{% endfor %}
	</div>
	<div class="container">
		<div class="pre-post">
			<div class="post_title">{{ post.title }}</div> 
			<div class="post_date">{{ post.pub_date }} by <b>{{post.posted_by}}</b></div>
		</div>
		<hr />
		<div class="post">{{ post.content|restructuredtextify:post }}</div>
		<hr />
		{% if comments %}
		<a name="comments"></a>
		<p id="comments_text">Comments:</p>
		<div class="comments">
			{% if request.user.is_staff %}
			<form action="{% url 'delete_comment1' post.pk %}" method="POST">{% csrf_token %}
			{% endif %}
			{% for comment in comments %}
				<div class="comment">
				<div class="time">
				{{ comment.created }} | {{ comment.author }}
				{% if request.user.is_staff %}
					<div class="delete_class">
				 	<input type="checkbox" name="delete" value="{{ comment.pk }}">
					<a href="{% url 'delete_comment2' post.pk comment.id %}">X</a>
					</div>
				{% endif %}
				</div>
				<div class="body">{{ comment.body|linebreaks }}</div>
				</div>&nbsp;
			{% endfor %}
			{% if request.user.is_staff %}
				<p><input type="submit" value="Delete all selected"></p>
				</form>
			{% endif %}
		</div>
		{% endif %}
		<div id="addc">Add a comment:</div>
		<!-- Comment form  -->
		<form action="{% url 'add_comment' post.id %}" method="POST">{% csrf_token %}
			<div id="cform">
				Name: {{ form.author }}
				<p>{{ form.body }}</p>
			</div>
			<div id="submit"><input type="submit" value="Submit"></div>
		</form>
	</div>
{% endblock %}

