{% extends 'base.html' %}

{% block head %}
<title>StackSmash - {{post.post.title}}</title>
<link type="text/css" href="/static/post.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="pre-post">
			<div class="post_title">{{post.post.title}}</div> 
			<div class="post_date">{{post.post.pub_date|date:"r"}} by <b>{{post.post.posted_by}}</b></div>
		</div>
		<hr />
		<div class="post">{% autoescape off %}{{ post.fragment }}{% endautoescape %}</div>
	</div>
{% endblock %}

