{% extends 'base.html' %}


{% block head %}
	<title>StackSmash - Posts</title>
	<link type="text/css" href="/static/posts.css" rel="stylesheet"></link>
{% endblock %}

{% block body %}
<!-- not sure what goes here :< -->
	<div class="posts">
	{% for post in posts %}
		<!-- a tag the title? lol post date is cuz I am lazy -->
		<div class="pre-post">
		<a href="{% url 'StackSmash.apps.blog.views.post' post.slug %}">{{post.title}}</a>
		{{post.pub_date|date:"r"}}</div>
		<div class="post">{{post.content}}</div>
	{% endfor %}
	</div>
{% endblock %}

