#title {
	font-size: 200%;
	color: #06c67b;
}

.posts {
	padding: 40px 0;
	margin-right: 20%;
	margin-left: 1%;
}

.posts .post-date {
	font-size: 75%;
	color: #888;
}

.sidebar {
	font-size: 120%;
	border: 1px solid #333;
	padding: 10px;
	box-shadow: 2px 2px 3px #111;
/*	margin: 0.6em;*/
	position: fixed;
	right: 1%;
	top: 10%;
}

#month {
	margin: 0.6em;
}
