.pre-post .post_title {
	font-size: 200%;
/*	color: #225599;*/
/*	color: #0298e3;*/
	color: #06c67b;
}

.container {
	padding: 40px 0;
	margin-right: 20%;
	margin-left: 1%;
}

.pre-post .post_date {
	font-size: 75%;
	color: #888;
}

#id_body {
	width: 500px;
	height: 200px;
}

.comments {
	margin-left: 5%;
}

.comment {
	border: 0.01em solid #333;
	padding: 4px 4px;
}

.comment .time {
	font-size: 75%;
	color: #888;
}

.comment .body {
	padding-left: 10px;
}

.comment .delete_class {
	float: right;
	font-size: 180%;
}

#addc {
	padding-bottom: 8px;
}

#comments_text {
	font-size: 160%;
}

.sidebar {
	font-size: 120%;
	border: 1px solid #333;
	padding: 10px;
	box-shadow: 2px 2px 3px #111;
/*	margin: 0.6em;*/
	position: fixed;
	right: 1%;
	top: 10%;
}

#month {
	margin: 0.6em;
}
