.projects {
	padding: 50px 0;
	margin-right: 20%;
	margin-left: 1%;
}

.projects table,th,td {
	border: 1px solid gray;
}

.projects table {
	border-collapse:collapse;
}

.projects td, th {
	width: 10%;
}

.projects td {
	padding-left: 0.4%;
}
