{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
<link type="text/css" href="{% static 'base.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'syntax_highlighting.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'lavalamp.css' %}" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lavalamp.min.js' %}"></script>
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
{% block head %}
{% endblock %}
</head>
<body>
<!-- 'Sticky' header bar -->

	<!--<div class="header_container">
		<div class="header">-->

        <div class="topbar">


          <ul class="lavaLampWithImage" id="lava_menu">

            <div class="cancel"><a href="{% url 'index' %}"><img id="icon" src="{% static 'processor-32.png' %}" /></a></div>
                <div class="minipad"></div>
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
			<li><a href="{% url 'projects:index' %}">Projects</a></li>
			<li><a href="http://git.stacksmash.net/">Git</a></li>
			<li><a href="http://cia.stacksmash.net/">CIA.vc</a></li>
            <li><a href="/about/">About Me</a></li>



            <div class="login">
			{% if request.user.is_authenticated %}
				Welcome, {{ request.user.username }}! <a href="/admin/">Admin</a> / <a href="/admin/logout/">Log out</a>
			{% else %}
			Welcome, Anonymous!<a href="/admin/">Login</a>
			{% endif %}
			</div>


		   </ul>

</div>




	<!--</div>-->
{% block body %}
{% endblock %}
</body>


<script type="text/javascript">
    $(function() {
      $("#lava_menu").lavaLamp({
        fx: "backout",
        speed: 700
      });
    });
</script>

</html>
