<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
<link type="text/css" href="/static/base.css" rel="stylesheet">
<link type="text/css" href="/static/syntax_highlighting.css" rel="stylesheet">
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
{% block head %}
{% endblock %}
</head>
<body>
<!-- 'Sticky' header bar -->
	<div class="header_container">
		<div class="header">
			<a href="/"><img id="icon" src="/static/processor-32.png"></img></a> 
			<a href="/blog/">Blog</a> | 
			<a href="/projects/">Projects</a> |
			<a href="http://git.stacksmash.net/">Git</a> | 
			<a href="http://cia.stacksmash.net/">CIA.vc</a> | 
			<a href="/about/">About Me</a>
			<span id="header_right">
			{% if request.user.is_authenticated %}
				Welcome, {{ request.user.username }}! <a href="/admin/">Admin</a> / <a href="/admin/logout/">Log out</a>
			{% else %}
				Welcome, Anonymous! <a href="/admin/">Login</a>
			{% endif %}
			</span>
		</div>
	</div>
{% block body %}
{% endblock %}
</body>
</html>
